body {
    background-color: skyblue;
}

.winbox.dark-winbox{
    background: #fff;
}
.winbox.dark-winbox .wb-title {
    color: #000;
}
.winbox.dark-winbox .wb-control {
    filter: invert(1);
}
.winbox .wb-body{
    overflow: hidden;
}
.winbox.min {
    z-index: 99999 !important;
}