<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/winbox@0/dist/css/winbox.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/winbox@0/dist/winbox.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/@xterm/xterm@5/css/xterm.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@xterm/xterm@5/lib/xterm.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-fit@0/lib/addon-fit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-web-links@0/lib/addon-web-links.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-webgl@0/lib/addon-webgl.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-search@0/lib/addon-search.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-image@0/lib/addon-image.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-unicode11@0/lib/addon-unicode11.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-clipboard@0/lib/addon-clipboard.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@xterm/addon-serialize@0/lib/addon-serialize.min.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="/css/main.css" rel="stylesheet">
        <script src="/js/xterm.addon-custom-link.js"></script>
        <script src="/js/base.js"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="/js/main.js"></script>
    </body>
</html>
