{% extends 'base.html.twig' %}

{% block title %}XTerminal{% endblock %}

{% block body %}
    <div class="flex h-[95vh] items-center justify-center">
        <div class="grid grid-cols-2 gap-2 h-160">
            <div class="bg-[#2D2E2C] border-4 rounded-sm p-2 border-[#a3004c]" id="terminal1"></div>
            <div class="bg-[#2D2E2C] border-4 rounded-sm p-2 border-[#00598a]" id="terminal2"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}