{% extends 'base.html.twig' %}

{% block title %}XTerminal{% endblock %}

{% block body %}
    <div class="demo">
        <div id="terminal"></div>
    <div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}